# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
.cache/
.temp/

# TailwindCSS output (optional)
src/public/css/style.css

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Backup files
*.bak
*.tmp

# Coverage / test outputs
coverage/
*.lcov

# Misc
package-lock.json


# Firebase service account key
backend/h2otronics-firebase-adminsdk-fbsvc-4d58d3a7c4.json
